.top-nav {
  background-color: @primary;
  position: relative;
  .sm(min-height, 30px);

  .menu {
    display: none;
    .sm(display, flex);

    flex-wrap: wrap;
    justify-content: center;
    li {
      text-transform: uppercase;
      font-size: 1.4rem;
      .sm(border-right, 1px solid @primary-deep);
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: @primary-deep;
      }
      &:active {
        background-color: @footer-color;
        transition: .3s;
      }
    }
    a {
      height: 3.5rem;
      .sm(height, 3rem);
      text-decoration: none;
      color: @white;
      display: flex;
      align-items: center;
      .sm(padding, 0 20px);
    }
  }
}

.bottom-nav {
  min-height: 100px;
  color: @black;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
  .sm(flex-direction, row);

  .logo-wrapper {
    padding: 5px 0;
    display: flex;
    align-items: center;
    .logo {
      width: 141px;
      height: 91px;
    }
    .logo-text {
      margin-left: 20px;
      max-width: 160px;
      font-size: 1.4rem;
      color: @gray;
      display: none;
      .md(display, block);
    }
  }
  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.4rem;
  }

  .adress-block {
    display: none;
    .lg(display, block);
  }
  a {
    text-decoration: none;
  }
}

